# Definition

Entropy. 
It's also called Expected Information. 
That's what we call this value which essentially describes how consistently a potential split will match up with a classifier.

Formula:
    Entropy (Dl) = â€” (sum of all i=1 to i = m) Pi * log2(Pi)

where m is the number of classifier values we have. 
In this case, m is 2 because we have 2 options: income <=50K and income >50K.

the p value. This is the probability of getting a specific classifier given the bin you're looking at. 
So if you have 10 rows of data, and 5 of them fall under income <=50, the probability of that would be 5/10 or 1/2. You can just count.

*Entropy Gain: *
The Foundation of Discretization
At a broad level, entropy-based discretization performs the following algorithm:

Calculate Entropy for your data. For each potential split in your data...
Calculate Entropy in each potential bin Find the net entropy for your split
Calculate entropy gain Select the split with the highest entropy gain
Recursively (or iteratively in some cases) perform the partition on each split until a termination criteria is met
Terminate once you reach a specified number of bins
Terminate once entropy gain falls below a certain threshold.

# Demostrate

In [2]:
import pandas as pd
import numpy as np

In [3]:
df = pd.read_csv("data.csv")

In [4]:
df.head()

   Id   Area SaleCondition  GarageArea HeatingQuality  SalePrice
0   1   8450        Normal         548             Ex     208500
1   2   9600        Normal         460             Ex     181500
2   3  11250        Normal         608             Ex     223500
3   4   9550     NotNormal         642             Gd     140000
4   5  14260        Normal         836             Ex     250000

#### Binarization

In [5]:
x = df[['GarageArea', 'Area']]

In [6]:
x.head()

   GarageArea   Area
0         548   8450
1         460   9600
2         608  11250
3         642   9550
4         836  14260

#### My Binarization approach would be, if area > 10000, it is taxable (1), otherwise not (0)

In [7]:
from sklearn.preprocessing import Binarizer

In [8]:
from sklearn.compose import ColumnTransformer

In [18]:
trf = ColumnTransformer([
    ('taxable', Binarizer(threshold=10000, copy= False),['Area'])
    ], remainder = 'passthrough'
)

In [19]:
x_transform = trf.fit_transform(x)

In [20]:
pd.DataFrame(x_transform, columns= ['taxable', 'GarageArea'])

     taxable  GarageArea
0          0         548
1          0         460
2          1         608
3          0         642
4          1         836
..       ...         ...
195        0         440
196        0         786
197        1         795
198        0           0
199        0         456

[200 rows x 2 columns]